*{
    margin: 0;
    padding: 0;
}
.header{
     /* border: 1px solid red; */
     text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
h1{
     /* border: 1px solid red; */
    color:#0000FF;
    font-size: 3rem;
    font-weight: 700;
}
.cards{
    /* border: 1px solid red; */
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{

    margin-right: 1rem;
    gap: 1rem;
    width: 16rem;
    height: 21rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card:hover{
    transform: scale(1.01);
}